body {
  background: #000;
  margin: 18px;

}

.lg-react-element {
display:grid;
grid-gap:5px;
grid-template-columns: repeat(auto-fit,minmax(350px,1fr)) !important;
}

img {
  max-width: 100%;
  display: block;
  padding: 5px 0px;
  border-radius: 20px;
  transition: transform 0.2s;
}

img:hover {
  filter: opacity(.9);
  transform: scale(1.01);
}